@tailwind base;

@tailwind components;

@tailwind utilities;

.transform-50 {
  transform: translate(-50%, -50%);
}

.container {
  background: url("../assets/wrap_bg.png") no-repeat right bottom;
  background-size: 50%;
}

.add-wallet-bar {
  transition: background-color 0.2s ease;
}

.add-wallet-txt {
  transition: opacity 0.25s ease;
}

.credit-card {
  transition: box-shadow 0.25s ease, background-color 0.35s ease,
    transform 0.25s ease, border-color 0.25s ease;
}
.credit-card-title {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.44);
}
.credit-card-number {
  text-shadow: 1px 1px 1px #6d6d6d;
}
.credit-card-number::placeholder {
  color: #fff;
  font-weight: 600;
  opacity: 1;
}
.credit-card-edit {
  transition: opacity 0.25s ease;
}
.bankLogo {
  height: 22px;
  width: 22px;
}
.card-type svg {
  height: 35px;
  width: 35px;
}

.credit-card:hover {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transform: translateY(-3px);
}

.fadeIn-enter-active,
.fadeIn-leave-active {
  transition: opacity 0.25s;
}

.fadeIn-enter,
.fadeIn-leave-to {
  opacity: 0;
}

@media only screen and (min-width: 1280px) {
  #card-container > div:nth-child(3n) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    background-size: 30%;
  }
}
